<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Groceries</h2>

        <% if current_beta_grocery_customer.nil? %>

        <% else %>
          <p>Welcome, <%= current_beta_grocery_customer.email %></p>
        <% end %>

        <p>We provide you with the freshest groceries in stock and with good quality and price.</p>
        <% @all_groceries.each do |grocery| %>

            <div class="col-md-4 text-center">
              <div class="thumbnail" style="height: 400px;">
                <img src="<%= grocery.grocery_image %>" alt="">
                <hr>
                <h3><%= grocery.grocery_name %></h3>
                <em>RM <%= grocery.grocery_price %></em>
                <br>
                <%= link_to "Buy Now", homepage_show_path(:id => grocery.id), class: "btn btn-primary" %>


              </div>


            </div>


        <% end %>


      </div>
    </div>
  </div>
</section>


<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
  </div>
  <!-- /.container -->
</footer>
