<div class="row">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h3><%=	 @show.grocery_name %></h3>

      <div class="thumbnail" >
        <img src="<%= @show.grocery_image %>" alt="" width="200px">


        <%= form_for :homepage, url: homepage_create_path, method: :post, html: {class: "nifty_form"} do |f| %>
            <p>Total</p>
            <%= hidden_field(:show, :id) %>
            <input type="text" placeholder="1" name="quantity">
            <%= f.submit "Buy" %>
        <% end %>
      </div>

    </div>
  </div>
</div>