<div class="container">
  <div class="row">

    <h2>Your cart</h2>

    <% if !@list_items.nil? then %>
        <ul class="list-group">
          <% @list_items.each do |list| %>
              <% list.each do |down| %>
                  <li class="list-group-item">
                    <%= BetaGrocery.find(down["item"]).grocery_name %>
                    x<%= down["total"] %>


                    | Price :
                    RM <%= number_with_precision((BetaGrocery.find(down["item"]).grocery_price.to_f * down["total"].to_i), precision: 2) %>
                  </li>


              <% end %>
          <% end %>

        </ul>


        <form action="<%= cart_register_path %>">
          <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_I5bDfH3sC9x6eEpyjYYfayFw"
          data-amount="999"
          data-name="Market"
          data-description="Widget"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-currency="myr">
          </script>
        </form>
    <% else %>
        <p>Your cart is empty</p>
    <% end %>


  </div>
</div>