<div class="container">

  <div class="row">
    <div class="">
      <div class="col-md-6 col-md-offset-3 thumbnail" style="padding: 20px;">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br/>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <br>
            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-primary" %>
            </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>

    </div>
  </div>
</div>