<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Search#index</h1>
      <p>Find me in app/views/search/index.html.erb</p>


      <%= form_tag("/search/result", method: "get") do %>
          <%= label_tag(:q, "Search for:") %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("Search") %>
      <% end %>

    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row"></div>
</div>