<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Search#result</h1>
      <p>Find me in app/views/search/result.html.erb</p>

      <h3>Result is</h3>
      <% @result.each do |grocery| %>
          <div class="thumbnail col-md-4 text-center" style="height: 400px;">

            <img src="<%= grocery.grocery_image %>" alt="">
            <hr>
            <h3><%= grocery.grocery_name %></h3>
            <em>RM <%= grocery.grocery_price %></em>
            <br>
            <button class="btn btn-primary">Buy Now</button>
          </div>
      <% end %>
    </div>
  </div>
</div>