<!DOCTYPE html>
<html>
<head>
  <title>Market</title>
  <%= csrf_meta_tags %>

  <!--<%= stylesheet_link_tag 'application', media: 'all' %>-->
  <!--<%= javascript_include_tag 'application' %>-->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>


    header {
      padding: 154px 0 100px;
    }

    @media (min-width: 992px) {
      header {
        padding: 156px 0 100px;
      }
    }

    section {
      padding: 150px 0;
    }

    .search-container {
      float: right;
    }

    .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }

    .search-container button:hover {
      background: #ccc;
    }

    .search-container input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }

    .cart {
      float: right;
      color: white;
      padding-top: 13px;
    }

  </style>
</head>


<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Market</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>

      <% if !current_beta_grocery_customer %>
          <li><a href="/beta_grocery_customers/sign_up">Register</a></li>
          <li><a href="/beta_grocery_customers/sign_in">Login</a></li>
      <% else %>
          <li><%= link_to "Sign out", destroy_beta_grocery_customer_session_path %></li>
      <% end %>
    </ul>
    <div class="search-container">
      <%= link_to cart_index_path, class: "cart" do %>
          <% if current_beta_grocery_customer.nil? %>

          <% else %>
              <% if session[:items] %>
                  Cart: <span class="badge"><%= session[:items].length %></span>

              <% else %>
                  Cart: 0
              <% end %>
          <% end %>

      <% end %>

      <div class="input-group">
        <%= form_tag("/search/result", method: "get") do %>
            <input type="text" placeholder="Search.." name="q">
            <button type="submit"><i class="fa fa-search"></i></button>
        <% end %>
      </div><!-- /input-group -->
    </div>

  </div>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
</body>
</html>
